body {
        background-color: #1aa12c;
        style="background-image:"bluebg.jpeg";
}
        
h1 {
    font-family: 'Patrick Hand SC', cursive;
    color: #58e083;
       }
p {
    font-family: Aerial;
    color: rgba( 186, 255, 195, .8);
        }
